<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/lib/app.js"></script>
</head>
<body>

    <div>
    <header id="start">

        <nav id="nav">
            <div class="basic">
                <ul>
                    <li><a href="#start">Home</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                </ul>
            </div>
    
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
    
            <div>
                <ul>
                    <li><a href="">Computer</a></li>
                    <!-- <li><a href="">Something</a></li> -->
                    <li><a href="#contactUs">Contact Us</a></li>
                    <li><a href="#"> <i class="fas fa-shopping-cart cartIcon"></i><span id="cartValue">0</span></a></li>
                </ul>
            </div>
        </nav>

        <div class="welcome">
            <h1 class="first">Sometimes all you need</h1>
            <h1 class="second">Is a new perspective</h1>
            <button id="enquireBtn">Enquire Now</button>
        </div>
       
    </header>

    <!-- modal for enquires form -->
    <div class="modal" ng-controller="myModal">
        <div class="modal-content">
            <form action="" name="myForm" ng-submit="submitForm(myForm.$valid)" novalidate>
                <p id="close"><i class="fas fa-times"></i></p>
                <p class="top">Send Equiry</p>
                <p class="writeUs">Write to us for any business enquiries</p>

                <div class="firstname">
                    <label for="fName">First Name</label><br>
                    <input type="text" name="fName" placeholder="Enter First Name" ng-model="fName" required>
                    <span ng-show="myForm.fName.$error.required && myForm.fName.$dirty"><i class="fas fa-exclamation-circle"></i> Required field</span>
                </div>
                
                <div class="lastname">
                    <label for="lName">Last Name</label><br>
                    <input type="text" name="lName" placeholder="Enter Last Name" ng-model="lName"required>
                    <span ng-show="myForm.lName.$error.required && myForm.lName.$dirty"><i class="fas fa-exclamation-circle"></i> Required field</span>
                </div>
                
                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" placeholder="Enter Email" ng-model="email" ng-pattern="/^([a-z\d\.-]+)@([a-z\d-]+)\.([a-z]{2,8})(\.[a-z]{2,8})?$/" required>
                    <span ng-show="myForm.email.$error.required && myForm.email.$dirty "><i class="fas fa-exclamation-circle"></i> Required field</span>
                    <span ng-show="myForm.email.$error.pattern "><i class="fas fa-exclamation-circle"></i> Enter a valid email</span>
                </div>

                <div class="message">
                    <label for="message">Message</label><br>
                    <textarea name="message" id="message" placeholder="Enter Message" ng-model="message"required>
                    </textarea>
                    <span ng-show="myForm.message.$error.required && myForm.message.$dirty"><i class="fas fa-exclamation-circle"></i> Required field</span>
                </div>
    
                <div class="submit">
                    <input type="submit" value="submit" ng-disabled="myForm.$invalid">
                </div>
                  
            </form>
    
        </div>
    </div>

    <!-- section that contains the products that are for sale -->
    <section id="products" ng-controller="productsCtrl">
        <h1 class="heading">Products</h1>
        <ul class="ourProducts">
            <li ng-repeat="item in products " class="eyeglass" >
                <div class="photo" ng-click="furtherInfo(this)">
                    <img src="{{item.image}}" alt="" >
                </div>
                <p>{{item.name}}</p>
                <p>({{item.model}})</p>

                <div class="rating">
                    <img src="{{item.rating}}" alt="">
                </div>

                <span><p>{{item.price | currency :'₹'}}</p></span>
                <!-- <button>Add to cart</button> -->
            </li>
        </ul>
    </section>

    <!-- <section class="aboutUs" id="aboutUs">
        <div class="headAbout">
            <h1 class="heading">About Us</h1>
        </div>
   

        <div  class="about">
                <p>Titan Eyeplus, the third major line of consumer business division from Titan Company Limited, ventured into the eyewear category in March 2007. The move was an initiative to redefine the industry and straddle the marketplace with exacting quality standards, unparalleled in India’s prescription eyewear industry. Benchmarked against the best in the world, Titan Eyeplus heralds standardization in the eyewear industry.</p>
            </div>
            
            <div class="aboutImg">
                <img src="images/aboutImage.jpg" alt="">
            </div>
        
    </section>
 -->

    <!-- <section id="contactUs" ng-controller="cntUs">
        
        <div class="head"><h1 class="heading">Contact Us</h1></div>

            <div class="ourInfo">
                <i class="fas fa-map-marker-alt"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-phone-alt"></i>
            </div>

            <div class="yourInfo"> 
                <input type="text" placeholder="Your Name"> <br>
                <input type="text" placeholder="Your Email"> <br>
                <input type="text" placeholder="Your Contact No."> <br>
                <textarea name="" id="" placeholder="Your Message"></textarea>
                <button class="submit">Submit</button>
            </div>

    </section> -->

    <!-- icon that brings the page to the top -->
    <div class="seemoreItems">
        <img src="" alt="" id="itemImg">
        <p id="itemName"></p>
        <p id="itemModel"></p>
        <img src="" alt="" id="itemRate">
        <p id="itemPrice"></p>
    </div>

    <div class="toTop">
        <a href="#start"><i class="fas fa-chevron-up"></i></a>
    </div>
</div>



<script>
    // on scroll behaviour of navigation bar
    window.addEventListener('scroll', ()=>{
        if (scrollY >= 50){ 

        let nav = document.getElementById('nav')
        nav.style.backgroundColor ="white"} 

        else {nav.style.background ="transparent"}
    })

    let upTop = document.querySelector('.toTop')
    document.addEventListener('scroll',()=>{
        
        if (scrollY >= 60){
        upTop.style.display = "flex"}
        
        else{upTop.style.display = "none"}
    })
   

    // modal form fuctionality
    let modal = document.querySelector('.modal');
    let close = document.getElementById('close');
    let enquireBtn = document.getElementById('enquireBtn');

    enquireBtn.addEventListener('click',()=>{
        modal.style.display = "block";
    })

    close.addEventListener('click',()=>{
        modal.style.display = "none"
    })

    window.addEventListener('click',(event)=>{
        if(event.target == modal){
            modal.style.display = "none"
        }
    })

 
 

  
   

</script>

</body>
</html>